body {
    background-color: grey
}

/* Resetando CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Define exatamente o tamanho do elemento especificado.  não deixando estourar tamanho da caixa*/
}

header .container {
    border: 1px solid black;
}