
@media screen and (max-width:700px){
    /* Adicionando formatação para quando a tela for menor que 700px os itens sejam apresentados como colunas. */
    header .container{
        display: flex;
        flex-direction:column;
    }
    
    .botao{
        margin-top: 5px;
        width: 300px;
    }

}

/*Estabelecendo que quando o minimo da tela é 1000px, a sinopse permaneça com 50%.*/
@media screen and (min-width:1000px){
    .descricao{
    width:50%;
    }
}

